ipython==7.16.3
jupyter==1.0.0
jupyter_client==6.0.0
jupyterlab==2.0.1
ipywidgets==7.5.1
jupyter_contrib_nbextensions==0.5.1
kedro==0.15.5
nbstripout==0.3.3
pytest-cov>=2.5, <3.0
pytest-mock>=1.7.1,<2.0
pytest>=3.4, <4.0
wheel==0.32.2
toml==0.10.0